/*
 * DROPZONE
 * =============================================================================
 */

.luh-dropzone {
    border: 1px dashed gray;
    border-radius: 0.75rem;
    padding: 0.75rem;
}

.luh-dropzone-overlay {
    background-color: lightgray;
    border-radius: 0.75rem;
    opacity: 0.5;
}

.luh__dropzone {
    position: relative;
}

.luh__dropzone-overlay {
    pointer-events: none;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.luh__dropzone-dragging * {
    pointer-events: none;
}
.luh__dropzone-dragging > .luh__dropzone-overlay {
    display: block;
}


/*
 * SORTABLE
 * =============================================================================
 */

.luh__sort-handle {
    cursor: grab;
}


/*
 * GROUP
 * =============================================================================
 */

.luh-group-item {
    display: flex;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid lightgray;
}

.luh-group-item-sort {
    flex-grow: 0;
    padding-right: 0.75rem;

    @media (max-width: 575px) {
        padding-right: 0;
        margin-bottom: 0.75rem;
    }
}


/*
 * ITEM
 * =============================================================================
 */

.luh-item {
    width: 100%;
}

.luh-item-content {
    display: flex;
    align-items: center;

    @media (max-width: 575px) {
        flex-direction: column;
    }
}

.luh-item-preview {
    flex-grow: 0;
    padding-right: 0.75rem;

    @media (max-width: 575px) {
        padding-right: 0;
        margin-bottom: 0.75rem;
    }
}

.luh-item-body {
    flex-grow: 1;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.luh-item-actions {
    flex-grow: 0;
    padding-left: 0.75rem;
    text-align: right;
    white-space: nowrap;

    @media (max-width: 575px) {
        padding-left: 0;
        margin-top: 0.75rem;
    }
}

.luh-item-deleted {
    opacity: 0.3;
}


/*
 * PROGRESS
 * =============================================================================
 */

.luh-progress {
    display: flex;
    align-items: center;
}

.luh-progress-bar {
    flex-grow: 1;
}

.luh-progress-cancel {
    flex-grow: 0;
    padding-left: 0.75rem;
}


/*
 * ERRORS
 * =============================================================================
 */

.luh-errors {
    margin-top: 0.75rem;
}
